<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Patient Portal</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
	<link href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.aspnetmvc.min.js"></script>
</head>
<body class="k-content">
    <nav class="navbar navbar-inverse navbar-fixed-top p-3">
        <div class="container p-0 p-sm-3">
            <div class="col-md-2 mb-3">
                <img class="img-fluid" alt="Medical Icon" src="~/Images/Medical-Icon.png" height="80" width="80">
            </div>
            <div class="navbar-header">
                <kendo-button name="configure" tag="button" icon="menu" class="k-rpanel-toggle k-primary btn-toggle"></kendo-button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Patient Management Portal</a>
            </div>
            <div id="responsive-panel" class="navbar-left">
                <kendo-responsivepanel name="responsive-panel" auto-close="false" breakpoint="768" orientation="top">
                    @(Html.Kendo().Menu()
                                .Name("Menu")
                                .Items(items =>
                                {
                                    items.Add().Text("Home").Action("Index", "Home", new { area = "" });
                                    items.Add()
                                            .Text("Patients")
                                            .Items(children =>
                                            {
                                                children.Add().Text("Patient List").Action("Index", "Patients", new { area = "" });
                                                children.Add().Text("Patient Search").Action("Search", "Patients", new { area = "" });
                                                children.Add().Text("Patient Referrals").Action("Index", "Referrals", new { area = "" });
                                            });
                                    items.Add()
                                            .Text("Appointments").Action("", "", new { area = "" })
                                            .Items(children =>
                                            {
                                                children.Add().Text("Appointment List").Action("Index", "Appointments", new { area = "" });
                                                children.Add().Text("Appointment Search");
                                            });
                                    items.Add()
                                            .Text("Reports").Action("", "", new { area = "" })
                                            .Items(children =>
                                            {
                                                children.Add().Text("Appointments");
                                                children.Add().Text("Patient by Doctor");
                                            });
                                    items.Add()
                                            .Text("Administration")
                                            .Items(children =>
                                            {
                                                children.Add().Text("Doctor List").Action("Index", "Doctors", new { area = "" });
                                                children.Add().Text("Add Medications");
                                                children.Add().Text("Add Specialties");
                                            });

                                    items.Add().Text("Home").Action("Index", "Home", new { area = "" });
                                    items.Add().Text("About").Action("About", "Home", new { area = "" });
                                    items.Add().Text("Contact").Action("Contact", "Home", new { area = "" });
                                })
                    )
                </kendo-responsivepanel>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-center d-flex align-items-center">
        <div class="container-fluid">
            <div class="text-muted">
                Copyright © @DateTime.Now.Year <img class="img-fluid" src="~/images/Spinsys-Icon.png" width="80" height="40" /> All rights reserved.
            </div>
        </div>
    </footer>


    <environment names="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>